/* 
    This is an example of an external CSS sheet (file) which webpages can be
    linked to an then all rules on this sheet are applied.
    
    Created on : 14-May-2020, 1:41:29 PM
    Author     : Lawrence Wachs
*/

span 
{        
    color: rgb(255,255,255);    
}

body
{    
    background-color:   blue;    
}

hr
{
    height: 3mm;
    background-color:   blue;
}